<div class="main-container">
  <div class="top-bar">
    <div class="logo-container">
      <img class="logo" [src]="AlternateLogoPath" alt="Logo" />
    </div>
    <div class="top-options">
      <a href="/dashboard">Dashboard</a>
      <a href="/vehicles">Veículos</a>
      <a href="/despesas">Despesas</a>
      <a href="/sobre">Sobre</a>
      <a href="ajuda">Ajuda</a>
    </div>
    <button
      class="mat-icon-button"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon class="mat-face">face</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>edit_square</mat-icon>
        <span>Editar perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</div>
