<div class="main-container">
  <div class="left-container">
    <div class="logo-container">
      <img class="logo" [src]="AlternateLogoPath" alt="Logo" />
    </div>
    <div class="login-container">
      <h1>Login</h1>
      <div class="inputs-container">
        <div class="email-container">
          <h3>Usuário/email</h3>
          <input />
        </div>
        <div class="password-container">
          <h3>Senha</h3>
          <div class="hide-password-container">
            <input />
            <div class="eye-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-eye"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            </div>
          </div>
        </div>
        <div class="options-container">
          <div class="remember-container">
            <input type="radio" />
            <label>Lembrar de mim</label>
          </div>
          <p>Esqueceu sua senha?</p>
        </div>
        <app-submit-button />
      </div>
      <div class="invite-container">
        <h3 class="no-account">Ainda nao possui uma conta?</h3>
        <h3 class="create-account">Crie já sua conta</h3>
      </div>
    </div>
  </div>
  <div class="right-container">
    <img class="car-image" [src]="carImagePath" alt="Car Image" />
  </div>
</div>
