<div class="sidebar-container">
  <div class="datepicker-main">
    <h3>Data</h3>
    <mat-form-field>
      <mat-label>Escolha uma data</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Data Inicial" />
        <input matEndDate placeholder="Data Final" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <h3>Valor</h3>
  <mat-slider
    min="50"
    max="5000"
    showTickMarks
    discrete
    [displayWith]="formatLabel"
  >
    <input value="50" matSliderStartThumb />
    <input value="5000" matSliderEndThumb />
  </mat-slider>
  <div class="side-types">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Tipos </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
