.sidebar-container {
  background-color: #e0dfdf;
  width: 307px;
  height: 100%;
  padding: 16px 12px;
  padding-left: 2rem;
  padding-right: 1rem;
  h3 {
    font-size: 32px;
  }
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

mat-slider {
  width: 90%;
}
