<app-navbar />
<div class="middle-section">
  <ng-container *ngIf="vehicles.length > 0">
    <div *ngFor="let car of vehicles">
      <app-car-component
        [car]="car"
        (vehicleDeleted)="onVehicleDeleted()"
      ></app-car-component>
    </div>
    <app-expense-component />
  </ng-container>
  <ng-container *ngIf="vehicles.length <= 0">
    <div class="register-vehicle-container">
      <h1>Não há veículos registrados</h1>
      <div class="car-icon-container">
        <img class="car-icon" [src]="CarIconPath" alt="CarIcon" />
      </div>
      <app-submit-button
        class="dashboard-register-vehicle"
        buttonText="Adicionar Veículo"
        (click)="openDialog()"
      />
    </div>
  </ng-container>
</div>
