<app-navbar></app-navbar>
<div class="middle-section">
  <ng-container *ngIf="vehicles.length > 0">
    <div *ngIf="selectedVehicle" class="top-part-container">
      <div class="top-part">
        <button (click)="vehicleBackward()">
          <mat-icon class="icon">arrow_back_ios</mat-icon>
        </button>
        <app-car-component
          [car]="selectedVehicle"
          (vehicleDeleted)="onVehicleDeleted()"
        ></app-car-component>
        <button (click)="vehicleForward()">
          <mat-icon class="icon">arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div class="expense-component">
        <app-expense-component
          [expenses]="selectedVehicle.expenses"
        ></app-expense-component>
      </div>
    </div>
    <div *ngIf="!selectedVehicle">
      <p>Select a vehicle to see the details.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="vehicles.length <= 0">
    <div class="register-vehicle-container">
      <h1>Não há veículos registrados</h1>
      <div class="car-icon-container">
        <img class="car-icon" [src]="CarIconPath" alt="CarIcon" />
      </div>
      <app-submit-button
        class="dashboard-register-vehicle"
        buttonText="Adicionar Veículo"
        (click)="openDialog()"
      ></app-submit-button>
    </div>
  </ng-container>
</div>
