<div class="expense-container">
  <div class="expense-title">
    <h3>Despesas</h3>
  </div>
  <div class="expense-list-header">
    <h3>Data</h3>
    <h3>Despesa</h3>
    <h3>Descrição</h3>
    <h3>Valor</h3>
  </div>
  <div class="expense-list">
    <div
      class="expense-row"
      matTooltip="Editar despesa"
      matTooltipHideDelay="100"
    >
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
    <div class="expense-row">
      <h3>22/04/2023</h3>
      <h3>Oil change</h3>
      <h3>Oil change 20.000 miles, warranty.</h3>
      <h3>R$ 1.201,84</h3>
    </div>
  </div>
</div>
