.expense-container {
  // background-color: rgb(226, 231, 246);
  border-radius: 25px;
  height: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.expense-title {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  h3 {
    font-weight: 800;
    font-size: 24px;
    opacity: 0.6;
  }
}

.expense-list-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 3rem;
  margin-top: 1rem;
  h3 {
    font-size: 21px;
  }
}

.expense-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.expense-row {
  background-color: rgba($color: #fff, $alpha: 0.4);
  border-radius: 18px;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 4rem;
  align-items: center;
  transition: 0.1s ease-in-out;
  h3 {
    margin: 0;
  }
  &:hover {
    border: solid rgb(225, 225, 225) 2px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
  }
}

table {
  border-radius: 8px;
}

table th {
  background-color: rgb(226, 231, 246);
  font-weight: bold;
}

table th:first-child {
  border-top-left-radius: 8px;
}

table th:last-child {
  border-top-right-radius: 8px;
}
