<table
  mat-table
  [dataSource]="vehicles"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ columnHeaders[column] }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="
          expandedVehicle = expandedVehicle === element ? null : element;
          $event.stopPropagation()
        "
      >
        <mat-icon *ngIf="expandedVehicle === element"
          >keyboard_arrow_up</mat-icon
        >
        <mat-icon *ngIf="expandedVehicle !== element"
          >keyboard_arrow_down</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumnsWithExpand.length"
    >
      <div
        class="element-detail"
        [@detailExpand]="element === expandedVehicle ? 'expanded' : 'collapsed'"
      >
        <div class="diagram-container">
          <div class="element-diagram">
            <div class="element-name">{{ element.name }}</div>
            <!-- <div class="element-brand-name">{{ element.brand_name }}</div> -->
            <!-- adicionar checagem para exibir ícone de moto -->
            <mat-icon *ngIf="element.type === 1" class="directions-vehicle"
              >directions_car</mat-icon
            >
            <mat-icon *ngIf="element.type === 2" class="directions-vehicle"
              >two_wheeler</mat-icon
            >
            <mat-icon *ngIf="element.type === 3" class="directions-vehicle"
              >local_shipping</mat-icon
            >
          </div>
        </div>
        <div class="element-details">
          <div class="element-description">
            {{ element.description }}
          </div>
          <div class="element-information">
            {{ element.year }} | {{ element.license_plate }}
          </div>
        </div>
        <div class="actions">
          <!-- <button
            class="button"
            (click)="goToSelectedVehicle(element.id)"
            aria-label="view details"
          >
            <mat-icon class="icon">visibility</mat-icon>
          </button> -->
          <button
            class="button"
            (click)="openExpenseDialog(element.id)"
            aria-label="add expense"
          >
            <mat-icon class="icon">attach_money</mat-icon>
          </button>
          <button
            class="button"
            (click)="openEditDialog(element.id)"
            aria-label="edit"
          >
            <mat-icon class="icon">edit</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumnsWithExpand"
    class="element-row"
    [class.expanded-row]="expandedVehicle === element"
    (click)="expandedVehicle = expandedVehicle === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>
