<div class="car-selector-container">
  <div class="car-selector-inner-container">
    <div class="upper-section">
      <div class="car-image-container">
        <img [src]="defaultCar" alt="car picture" />
      </div>
      <div class="car-info-container">
        <div class="car-info-inner">
          <h3>{{ car.brand_name }}</h3>
          <h3>{{ car.name }}</h3>
        </div>
        <div class="car-expenses">
          <p>Despesas Totais:</p>
          <h3>R$ 9.523,11</h3>
          <!-- <h3>R$ {{ car.expenses }}</h3> -->
        </div>
      </div>
      <button class="delete-button" (click)="openDialog()">
        <!-- <button class="delete-button" (click)="deleteVehicle(car.id)"> -->
        <mat-icon>cancel</mat-icon>
      </button>
      <button class="delete-button" (click)="openExpenseDialog()">
        <!-- <button class="edit-button" (click)="editVehicle(car.id)"> -->
        <mat-icon>pending</mat-icon>
      </button>
    </div>
  </div>
</div>
