<div class="car-selector-container">
  <div class="car-selector-inner-container">
    <div class="car-selector">
      <div class="car-selector-header">
        <h3>{{ car.brand_name }}</h3>
        <h3>{{ car.name }}</h3>
      </div>
      <div class="buttons-selector">
        <button class="action-button delete" (click)="openDialog()">
          Excluir
        </button>
        <button class="action-button add" (click)="openExpenseDialog()">
          Adicionar Despesa
        </button>
      </div>
    </div>
    <div class="upper-section">
      <div class="car-image-container">
        <img [src]="defaultCar" alt="car picture" />
      </div>
      <div class="year-chart">
        <app-bar-chart [expenses]="car.expenses ?? []"></app-bar-chart>
      </div>
      <div class="category-chart">
        <app-doughnut-chart [expenses]="car.expenses ?? []"></app-doughnut-chart>
      </div>
    </div>
  </div>
</div>
