.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 89.5%;
  padding-top: 5rem;
}

.profile-head {
  border: solid blue 2px;
  margin-bottom: 5rem;
  width: 50%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  h3 {
    font-size: 24px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  border: #fc6736 solid 3px;
}

.profile-head-buttons {
  gap: 2rem;
  margin-top: 3rem;
  display: flex;
}

input {
  width: 100%;
  height: 2.355rem;
  border: none;
  background-color: #f3f3f1;
  padding: 1rem;
  outline: none;
  font-size: 0.875rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.profile-edit-inputs {
  border: solid green 2px;
  width: 50%;
}
