<app-navbar></app-navbar>
<div class="profile-container">
  <div class="profile-head">
    <div class="profile-picture">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTChvCkDANakbMV2MUFA38qZJS2AcGKK3TfEw&s" alt="Profile Picture" />
    </div>
    <h3 class="profile-title">Edição de Perfil</h3>
    <div class="profile-head-text">
      <!-- <div class="profile-head-buttons">
        <button mat-flat-button color="primary">Mudar Imagem</button>
        <button mat-flat-button disabled>Remover Imagem</button>
      </div> -->
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" >
    <div class="profile-edit-inputs">
      <h3>Nome</h3>
      <input 
      formControlName="name" 
      type="text" 
      placeholder="Digite seu nome">
      <h3>Email</h3>
      <input 
      formControlName="email" 
      class="input-Email" 
      type="text" 
      placeholder="Digite seu email">
      <h3>CNH</h3>
      <input 
      formControlName="cnh" 
      type="text" 
      placeholder="Digite sua CNH">
      <button mat-flat-button color="primary" type="submit">Salvar Alterações</button>
    </div>
  </form>
</div>
