<app-navbar />
<div class="profile-container">
  <div class="profile-head">
    <div class="profile-picture">
      <img src="https://via.placeholder.com/200" alt="Profile Picture" />
    </div>
    <div class="profile-head-text">
      <h3>Edição de Perfil</h3>
      <div class="profile-head-buttons">
        <button mat-flat-button color="primary">Mudar Imagem</button>
        <button mat-flat-button disabled>Remover Imagem</button>
      </div>
    </div>
  </div>
  <div class="profile-edit-inputs">
    <h3>Nome</h3>
    <input
      title="name"
      type="text"
      formControlName="name"
      name="name"
      required
      name
      placeholder="Digite seu nome"
    />
    <h3>Email</h3>
    <input
      class="input-Email"
      title="Email"
      type="text"
      formControlName="Email"
      name="Email"
      Email
      required
      placeholder="Digite seu email"
    />
    <h3>CNH</h3>
    <input
      title="CNH"
      type="text"
      formControlName="CNH"
      name="CNH"
      required
      CNH
      placeholder="Digite sua CNH"
    />
    <h3>Senha</h3>
    <input
      class="input-Senha"
      title="Senha"
      type="password"
      formControlName="Senha"
      name="Senha"
      Senha
      placeholder="Digite sua senha"
    />
  </div>
</div>
