<div class="dialog-container">
  <h2 mat-dialog-title>Registrar Despesa</h2>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Valor</mat-label>
    <input matInput />
    <mat-icon matSuffix>attach_money</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descrição</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <div>
    <mat-label>Comprovante</mat-label>
    <input type="file" />
  </div>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="true"
      type="submit"
    >
      Registrar
    </button>
  </mat-dialog-actions>
</div>
