<form [formGroup]="addVehicleForm" (ngSubmit)="handleAddVehicle()">
  <div class="dialog-container">
    <h2 mat-dialog-title>Registrar Veículo</h2>
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Escolha um tipo:</mat-label>
        <mat-select formControlName="type" type>
          <mat-option value="1">Carro</mat-option>
          <mat-option value="2">Moto</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Marca</mat-label>
        <input
          type="text"
          placeholder="Escolha uma marca"
          aria-label="brand"
          brand
          required
          matInput
          formControlName="brand"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track brand) {
          <mat-option [value]="option.name">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <h3>Modelo</h3>
      <input
        title="name"
        type="text"
        formControlName="name"
        name="name"
        required
        name
      />
      <h3>Descrição</h3>
      <input
        class="input-description"
        title="description"
        type="text"
        formControlName="description"
        name="description"
        description
      />
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="warn" mat-dialog-close>Cancelar</button>
      <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="true"
        type="submit"
      >
        Registrar
      </button>
      <button (click)="teste()">teste</button>
    </mat-dialog-actions>
  </div>
</form>
