<div class="main-container">
  <div class="upper-container">
    <div class="create-account-container">
      <img class="logo" [src]="AlternateLogoPath" alt="Logo" />
      <h1>Crie sua conta Autocontrol</h1>
      <form
        class="inputs-inner"
        [formGroup]="registerForm"
        (ngSubmit)="handleCreateAccount()"
      >
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"
            />
          </svg>
          <h3>Nome</h3>
        </div>
        <input type="text" formControlName="name" name="name" required name />
        <div *ngIf="submitted && f['name'].errors" class="name-error">
          <div *ngIf="f['name'].errors['required']">*Preencha o nome</div>
        </div>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
            />
          </svg>
          <h3>Email</h3>
        </div>
        <input
          type="email"
          formControlName="email"
          name="email"
          required
          email
        />
        <div *ngIf="submitted && f['email'].errors" class="email-error">
          <div *ngIf="f['email'].errors['required']">*Preencha o email</div>
          <div *ngIf="f['email'].errors['email']">
            *Formato de email inválido
          </div>
        </div>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M512 80c8.8 0 16 7.2 16 16V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H512zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM208 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16H304c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80H176zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376z"
            />
          </svg>
          <h3>CNH</h3>
        </div>
        <input
          type="text"
          formControlName="driversLicense"
          name="driversLicense"
          required
          driversLicense
        />
        <div
          *ngIf="submitted && f['driversLicense'].errors"
          class="drivers-license-error"
        >
          <div *ngIf="f['driversLicense'].errors['required']">
            *Preencha sua CNH
          </div>
        </div>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"
            />
          </svg>
          <h3>Senha</h3>
        </div>
        <div class="password-container">
          <div class="hide-password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              required
              name="password"
              formControlName="password"
            />

            <div class="eye-container" *ngIf="showEye" (click)="toggleEye()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-eye"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            </div>
            <div class="eye-container" *ngIf="!showEye" (click)="toggleEye()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-eye-off"
              >
                <path
                  d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"
                ></path>
                <line x1="1" y1="1" x2="23" y2="23"></line>
              </svg>
            </div>
          </div>
          <div *ngIf="submitted && f['password'].errors" class="password-error">
            <div *ngIf="f['password']?.errors?.['required']">
              *Preencha a senha
            </div>
            <div *ngIf="f['password']?.errors?.['passwordNoNumber']">
              *Preencha sua senha deve ter no mínimo 1 número
            </div>
          </div>
        </div>
      </form>
      <p>
        Ao clicar em "Continuar", você concorda com os Termos. Para obter mais
        informações sobre como processamos seus dados pessoais, consulte nossa
        Política de Privacidade
      </p>
      <div class="button-container">
        <app-submit-button
          type="submit"
          buttonText="Continuar"
          buttonStyle="continue-button"
          (click)="handleCreateAccount()"
        />
      </div>
    </div>
  </div>
</div>
